* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

body {
  padding: 0px;
}

.Error {
  text-align: center;
}

:root {
  --primary: #4d7ce9;
  --secondary: #55b1ec;
  --darkGray: #5e5e5e;
  --lightGray: #acacac;
  --white: #ffffff;
  --black: #000000;
}
